:root {
    --header-background: #376F7B;
    --header-link-color: #fff;
    --content-background-color: #fff;
    --project-overlay: rgba(164, 205, 214, 0.4);
    --project-overlay-shadow: 0 0 5px rgba(55, 111, 123, 0.7) inset;
    --general-background-color: #A4CDD6
}


/* ----------------
ALL ELEMENT STYLING
---------------- */

/* Sets overall styling to all elements and sets scroll behavior when navigation links are clicked */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    line-height: 150%;
    color: #114673;
}


/* ----------------------
FULL PAGE CONTENT STYLING
---------------------- */

/* Sets web page background color and general font with google fonts a single built-in font as a fallback */
body {
    background-color: var(--general-background-color);
    font-family: Source Sans Pro, Work Sans, monospace;
}


/* ------------
NAV BAR STYLING
------------ */

/* Sets font, size, color, text positioning, and font size / Also sets position to stay on page and appear on top of any other elements */
header {
    font-family: Montserrat, Roboto Slab, Open Sans, sans-serif;
    padding: 15px;
    background-color: var(--header-background);
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    z-index: 99;
}

/* Sets font size for personal name */
header h1 {
    font-size: 30px;
}

/* Removes underline on links, sets text color, and margin size */
header h1 a, nav ul li a {
    text-decoration: none;
    color: var(--header-link-color);
    margin: 0px 5px;
}

/* Sets a glowing effect on text on hover */
header h1 a:hover, nav ul li a:hover {
    text-shadow: 0 0 5px var(--header-link-color);
}

/* Removes bullet point on links list and sets padding and margin size */
header nav ul {
    list-style-type: none;
    padding: 5px;
    margin: 5px;
}

/* Organizes list links to be inline and sets space between individual links */
header nav ul li {
    display: inline-block;
    margin: 0px 6px;
}

/* Hero/background splash image styling */
.hero {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* Sets scroll margin so content is shown below the nav bar on screen */
section {
    scroll-margin-top: 80px;
}


/* -----------------
MAIN CONTENT STYLING
----------------- */

/* General display, flex-wrap, padding, and content spacing styling for all child elements of each section */
section > * {
    display: flex;
    padding: 15px;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Sets headers to be on the left side of page content and sets size and alignment */
section h2 {
    float: left;
    width: 20%;
    max-width: 220px;
    justify-content: right;
    text-align: right;
}

/* Sets content background size and styling */
.about-me-content, .project-container, section ul, form {
    background-color: var(--content-background-color);
    border-radius: 30px;
    box-shadow: 0px 0px 3px 2px;
    margin: 0px 25px;
    padding: 30px;
}


/* -------------
ABOUT ME STYLING
------------- */

/* Aligns photo and text to the top of the content area */
.about-me-content {
    align-items: start;
}

/* Sets image size and scaling */
.self-photo {
    min-width: 128px;
    width: 10%;
    flex: 1 1;
    margin-right: 5px;
    border-radius: 10px;
    object-fit: contain;
}

/* Sets width of text */
.about-me-text {
    width: 70%;
}

/* --------------------
PROJECT CONTENT STYLING
-------------------- */

/* Individual project positioning type */
.projects {
    position: relative;
}

/* Sizing and padding of individual project content */
.projects a {
    padding: 5px;
    width: 100%;
}

/* Individual projects overlay opacity on hover */
.projects:hover > * {
    opacity: 0.5;
}

/* Individual projects links overlay opacity on link hover */
.projects > *:hover {
    opacity: 1;
}

/* Individual projects name positioning and background styling on project image */
h4 {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: var(--content-background-color);
    padding: 5px;
    border-radius: 1em;
}

/* Project 1 screenshot */
#project1 {
    background-image: url(../images/horiseon-refactor.png);
}

/* Other project screenshot (currently placeholders) */
/* Replace and separate when other project screenshots are made */
#project2, #project3, #project4 {
    background-image: url(../images/background-project-placeholder.jpeg);
}

/* Sets content size, border styling, and adds slightly opaque shadow to each image */
#project1, #project2, #project3, #project4 {
    width: 350px;
    height: 150px;
    margin: 5px;
    background-size: 100%;
    border: 1px;
    border-color: var(--header-background);
    border-style: solid;
    box-shadow: 0 30px 80px rgba(164, 205, 214, 0.7) inset;
}

/* Sets links to be invisible and sets the invisible links positions, styling and overlay background color */
#project1 > a, #project2 > a, #project3 > a, #project4 > a {
    display: none;
    width: 50%;
    height: 100%;
    line-height: 9rem;
    text-align: center;
    text-decoration: none;
    background-color: var(--project-overlay);
}

/* Changes links to be visible on image hover and sets an overlay shadow */
#project1:hover > a, #project2:hover > a, #project3:hover > a, #project4:hover > a {
    display: inline-block;
    box-shadow: var(--project-overlay-shadow);
}

/* Individual links background styling */
span {
    background-color: var(--content-background-color);
    padding: 5px;
    border-radius: 1em;
}


/* -----------------
CONTACT INFO STYLING
----------------- */

/* Sets margin size and removes bullet points from links */
section ul li {
    margin: 0px 10px 0px 10px;
    list-style-type: none;
}

/* GitHub Icon */
#github::before {
    display: inline-block;
    content: "";
    background-image: url(../images/GitHub-Mark-120px-plus.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    margin-right: 3px;
    height: 20px;
    width: 20px;
}


/* LinkedIn Icon */
#linkedin::before {
    display: inline-block;
    content: "";
    background-image: url(../images/linkedin-logo.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    margin-right: 3px;
    height: 20px;
    width: 20px;
}


/* -----------------
CONTACT FORM STYLING
----------------- */

/* General content size and removes general border shadow set earlier */
form ul {
    width: 100%;
    margin: auto;
    box-shadow: none;
}

/* Sets size and positioning of field names */
label {
    display: inline-block;
    width: 17%;
    text-align: right;
    vertical-align: top;
    margin-right: 5px;
}

/* Sets size and positioning of text fields */
input, textarea {
    display: inline-block;
    width: 75%;
}

/* Submit button */
.submit {
    width: 50px;
}


/* -----------
FOOTER STYLING
----------- */

/* Sets background color and size / Aligns text to the center and removes link underline */
footer, footer a  {
    text-align: center;
    background-color: var(--header-background);
    color: var(--header-link-color);
    text-decoration: none;
    padding: 3px 0px;
}

/* Adds glow to text on hover */
footer a:hover {
    text-shadow: 0 0 3px var(--header-link-color);
}


/* -------------------------------
STYLING AT DIFFERENT WINDOW WIDTHS
------------------------------- */

/* Approximate size where nav bar gets a little too close to name */
@media screen and (max-width: 992px) {
    /* Header area styling */
    header {
        display: block;
        padding: 15px 15px 0px 15px;
    }

    /* Nav links positioning (not including personal name) */
    header nav {
        display: flex;
        justify-content: space-evenly;
    }

    /* Nav links text styling (not including personal name) */
    header nav ul li a {
        font-size: 1.9vw;
    }

    /* Hero/splash image size */
    .hero {
        height: 140px;
    }

    /* Scroll margin at 992px */
    section {
        scroll-margin-top: 110px;
    }

    /* Contact form label styling */
    label {
        display: block;
        text-align: left;
        width: 100%;
    }

    /* Contact form text field styling */
    input, textarea {
        display: block;
        width: 100%;
    }
}

/* Approximate size where main content headers' area gets too small */
@media screen and (max-width: 700px) {
    /* Scroll margin at 700px */
    section {
        scroll-margin-top: 95px;
    }

    /* Resets position styling of main content headers */
    section h2 {
        float: none;
        width: unset;
        max-width: none;
        justify-content: left;
        text-align: left;
    }
}

/* Exact size self photo moves position in flex box */
@media screen and (max-width: 568px) {
    /* Sets max width when self photo moves above biography text */
    .self-photo {
        max-width: 20%;
    }

    /* Sets biography text to take up full area */
    .about-me-text {
        width: 100%;
    }
}

/* Approximate size overestimate to account for different mobile screens */
@media screen and (max-width: 500px) {
    /* Nav links display and position styling (not including personal name) */
    header nav ul li {
        display: block;
        text-align: center;
    }

    /* Nav links text size (not including personal name) */
    header nav ul li a {
        font-size: 15px;
    }

    /* Hero/splash image size */
    .hero {
        height: 90px;
    }

    /* Scroll margin at 500px */
    section {
        scroll-margin-top: 200px;
    }
}
