:root {
    --header-background: #376F7B;
    --header-link-color: #fff;
    --content-background-color: #fff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    line-height: 150%;
    color: #114673;
}

body {
    background-color: #A4CDD6;
}

header {
    font-family: Montserrat, Roboto Slab, Open Sans;
    padding: 15px;
    background-color: var(--header-background);
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
}

header h1 {
    font-size: 30px;
}

header h1 a, nav ul li a {
    text-decoration: none;
    color: var(--header-link-color);
    margin: 0px 5px;
}

header h1 a:hover, nav ul li a:hover {
    text-shadow: 0 0 5px var(--header-link-color);
}

header nav {
    font-size: 110%;
    background-color: var(--header-background);
}

header nav ul {
    list-style-type: none;
    padding: 5px;
    margin: 5px;
}

header nav ul li {
    display: inline-block;
    margin: 0px 6px;
}

.hero {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

section {
    scroll-margin-top: 80px;
}

section > * {
    display: flex;
    padding: 15px;
    flex-wrap: wrap;
    justify-content: space-around;
}

section h2 {
    float: left;
    width: 20%;
    max-width: 220px;
    height: 100%;
    justify-content: right;
    text-align: right;
}

p, figure, section ul, form {
    background-color: var(--content-background-color);
    border-radius: 30px;
    margin: 0px 25px;
    padding: 20px;
}

figure {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

figure a img {
    padding: 5px;
    width: 100%;
}

section ul li {
    margin: 0px 10px 0px 10px;
    list-style-type: none;
}

/* Size where nav bar gets a little too close to name */
@media screen and (max-width: 992px) {
    header {
        display: block;
        padding: 15px 15px 0px 15px;
    }
    header nav {
        display: flex;
        justify-content: space-evenly;
    }

    header nav ul li a {
        font-size: 1.9vw;
    }

    .hero {
        height: 140px;
    }

    section {
        scroll-margin-top: 100px;
    }
}

@media screen and (max-width: 700px) {
    section h2 {
        float: none;
        width: unset;
        max-width: none;
        justify-content: left;
        text-align: left;
    }
}

/* General estimate of phone width */
@media screen and (max-width: 500px) {
    header nav ul li {
        display: block;
        text-align: center;
    }

    header nav ul li a {
        font-size: 15px;
    }

    .hero {
        height: 90px;
    }

    section {
        scroll-margin-top: 200px;
    }
}
