:root {
    --header-background: #376F7B;
    --header-link-color: #fff;
    --content-background-color: #fff;
    --project-overlay: rgba(164, 205, 214, 0.4);
    --project-overlay-shadow: 0 0 5px rgba(55, 111, 123, 0.7) inset;
    --general-background-color: #A4CDD6
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    line-height: 150%;
    color: #114673;
}

body {
    background-color: var(--general-background-color);
}

header {
    font-family: Montserrat, Roboto Slab, Open Sans;
    padding: 15px;
    background-color: var(--header-background);
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
}

header h1 {
    font-size: 30px;
}

header h1 a, nav ul li a {
    text-decoration: none;
    color: var(--header-link-color);
    margin: 0px 5px;
}

header h1 a:hover, nav ul li a:hover {
    text-shadow: 0 0 5px var(--header-link-color);
}

header nav {
    font-size: 110%;
    background-color: var(--header-background);
    z-index: 2;
}

header nav ul {
    list-style-type: none;
    padding: 5px;
    margin: 5px;
}

header nav ul li {
    display: inline-block;
    margin: 0px 6px;
}

.hero {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

section {
    scroll-margin-top: 80px;
}

section > * {
    display: flex;
    padding: 15px;
    flex-wrap: wrap;
    justify-content: space-around;
}

section h2 {
    float: left;
    width: 20%;
    max-width: 220px;
    height: 100%;
    justify-content: right;
    text-align: right;
}

p, figure, section ul, form {
    background-color: var(--content-background-color);
    border-radius: 30px;
    margin: 0px 25px;
    padding: 30px;
}

figure {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.projects a {
    padding: 5px;
    width: 100%;
}

article {
    position: relative;
}

article:hover > * {
    opacity: 0.5;
}

article > *:hover {
    opacity: 1;
}

h4 {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: var(--content-background-color);
    padding: 5px;
    border-radius: 1em;
    border-color: var(--header-background);
    border-style: solid;
    border: 2px;
}

#project1 {
    background-image: url(../images/horiseon-refactor.png);
}

/* Replace and separate when other project screenshots are made */
#project2, #project3, #project4 {
    background-image: url(../images/background-project-placeholder.jpeg);
}

#project1, #project2, #project3, #project4 {
    width: 350px;
    height: 150px;
    margin: 5px;
    background-size: 100%;
    border: 1px;
    border-color: var(--header-background);
    border-style: solid;
    box-shadow: 0 30px 80px rgba(164, 205, 214, 0.7) inset;
}

#project1 > a, #project2 > a, #project3 > a, #project4 > a {
    display: none;
    width: 50%;
    height: 100%;
    line-height: 9rem;
    text-align: center;
    text-decoration: none;
    background-color: var(--project-overlay);
}

#project1:hover > a, #project2:hover > a, #project3:hover > a, #project4:hover > a {
    display: inline-block;
    box-shadow: var(--project-overlay-shadow);
}

span {
    background-color: var(--content-background-color);
    padding: 5px;
    border-radius: 1em;
}

section ul li {
    margin: 0px 10px 0px 10px;
    list-style-type: none;
}

#github::before {
    display: inline-block;
    content: "";
    background-image: url(../images/GitHub-Mark-120px-plus.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    margin-right: 3px;
    height: 20px;
    width: 20px;
}

#linkedin::before {
    display: inline-block;
    content: "";
    background-image: url(../images/linkedin-logo.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    margin-right: 3px;
    height: 20px;
    width: 20px;
}

form ul {
    width: 100%;
    margin: auto;
}

label {
    display: inline-block;
    width: 20%;
    text-align: right;
    vertical-align: top;
}

input, textarea {
    display: inline-block;
    width: 75%;
}

.submit {
    width: 50px;
}

footer, footer a  {
    text-align: center;
    background-color: var(--header-background);
    color: var(--header-link-color);
    text-decoration: none;
    padding: 3px 0px;
}

footer:hover {
    text-shadow: 0 0 3px var(--header-link-color);
}

/* Size where nav bar gets a little too close to name */
@media screen and (max-width: 992px) {
    header {
        display: block;
        padding: 15px 15px 0px 15px;
    }
    header nav {
        display: flex;
        justify-content: space-evenly;
    }

    header nav ul li a {
        font-size: 1.9vw;
    }

    .hero {
        height: 140px;
    }

    section {
        scroll-margin-top: 110px;
    }

    label {
        display: block;
        text-align: left;
        width: 100%;
    }

    input, textarea {
        display: block;
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    section h2 {
        float: none;
        width: unset;
        max-width: none;
        justify-content: left;
        text-align: left;
    }
}

/* General estimate of phone width */
@media screen and (max-width: 500px) {
    header nav ul li {
        display: block;
        text-align: center;
    }

    header nav ul li a {
        font-size: 15px;
    }

    .hero {
        height: 90px;
    }

    section {
        scroll-margin-top: 200px;
    }
}
